<div class='card'>
    <div class='card-header card-title'>
        {{pageTitle}}
    </div>
    <div class='card-body'>
        <div class='row'>
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)] = 'listFilter'/>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-6'>
                <h3>Filtered by: {{listFilter}}</h3>
            </div>
        </div>

        <div class='table-responsive'>
            <table class='table' *ngIf='products && products.length>0'>
                <thead>
                    <tr>
                        <th>
                            <button class='btn btn-primary' (click)='toggleImage()'>
                                {{showImage ? 'Hide Image' : 'Show Image' }}
                            </button>
                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let product of filteredProducts'>
                        <td>
                            <img [src] = 'product.imageUrl' class='productImage' *ngIf= 'showImage'/>
                        </td>
                        <td><a [routerLink]="['/products', product.productId]">{{ product.productName }}</a></td>
                        <td>{{ product.productCode | lowercase | convertToSpace:'-'}}</td>
                        <td>{{ product.releaseDate }}</td>
                        <td>{{ product.price | currency:'USD':'symbol':'1.2-2'}}</td>
                        <td><app-star [rating]='product.starRating' (ratingClicked)='onRatingClicked($event)'></app-star></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
