<div class='card card-primary' *ngIf='product'>
    <div class='card-header card-title'>
        {{pageTitle + ': ' + product.productName}}
    </div>
    <div class='card-body'>
    </div>
    <div class='card-footer'>
        <a class='btn btn-default' (click)='onBack()' style='width:80px'>
            <i class='fa fa-chevron-left'></i> Back
        </a>
    </div>
</div>