<div class="card bg-light mb-6" style="max-width: 100%;">
  <div class="card-header"> {{pageTitle}}</div>
  <div class="card-body">
    <h5 class="card-title">Light card title</h5>
    <p class="card-text">
        Simple product manager application built on top of Angular 5 + Bootstrap
    </p>
  </div>
</div>